:root {
    --red-text: #9b0404;
    --body-header-color: #160303;
    --portfolio-fonts: 'Fantasy', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-header-color);
    font-family: var(--portfolio-fonts);
}

.header {
    padding: 20px;
    font-family: var(--portfolio-fonts);
    background-color: var(--body-header-color);
    color: #9c9c9c;
}

/*Styling my name in header so that "'s Portfolio" is hidden until hover over and text displays in red*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header-hidden {
    display: none;
}

.header h1:hover .header-hidden {
    display: inline-block;
    color: var(--red-text);
}

/*Styling Navigation to the right of the header and adding color and other details*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--portfolio-fonts);
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    flex-wrap: Wrap;
    font-weight: bold;
}

a {
    color: var(--red-text);
    text-decoration: none;
}

p {
    font-size: 16px;
    color: white;
}

/*Banner image graphic CSS*/
.image-graphic {
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../public/images/banner-graphic.jpg");
    background-size: cover;
    background-position: center;
}

/*Portfolio heading and description set to red before cards*/
.about-portfolio {
    color: white;
    text-align: center;
    padding: 0 5px 5px 5px;
    background-image: linear-gradient(rgba(103, 81, 83, 0.79) 0%,
            rgba(9, 1, 9, 0.471) 100%);

}

.about-paragraph {
    text-align: center;
    font-size: 26px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-portfolio h3 {
    font-size: 36px;
    padding: 25px;
}

.about-portfolio p {
    font-size: 20px;
    flex-wrap: wrap;
}

/*Styling about me section with cards */

.about-me {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    min-width: 100%;
}

.about-me h2 {
    font-size: 30px;
}

/* Structuring cards on portfolio webpage */

.card {
    background-color: rgba(255, 192, 203, 0);
    width: 20%;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-around;
}

.card:first-of-type img {
    transform: scale(1.1);
}

/*Launch button style for portfolio cards - commented out to make images clickable per README*/
/* .card a { 
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-radius: 15px;
    margin: 20px 50px;
} */

/* Positioning the image on the card and adding radius and other styling*/
.card-header {
    padding: 10px;
    color: white;
    text-align: center;
}

.card-header img {
    height: 200px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.card p {
    font-family: var(--portfolio-fonts);
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: fit-content;
}

.card:hover {

    /* create a glowing red effect on hover */
    box-shadow: inset 0px 0px 8px #9b0404, 0 0 15px #9b0404;

    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(rgba(210, 13, 29, 0.79) 0%,
            rgba(9, 1, 9, 0.471) 100%);

    transform: scale(1.05);
    transition: all 1s ease;

}

/*Adding style to project section cards */
.projects {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.projects h4 {
    font-size: 25px;
    padding: 5px;
}

/*Adding style to contact me sections*/

.contact-me {
    background-image: linear-gradient(rgba(9, 1, 9, 0.471) 0%,
            rgba(210, 13, 29, 0.79) 90%);
    color: white;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5px 5px 5px;
}

/*Adding style to contact me sections*/
.contact-me h5 {
    font-size: 36px;
    padding: 20px;
    color: white;
    margin: 15px;
}

/*Adding style to contact me sections*/
.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(210, 13, 29, 0.79) 0%,
            rgba(9, 1, 9, 0.471) 100%);
}

/*Adding style to contact me sections*/
.contact img {
    max-width: 50px;
    max-height: 50px
}

/*Adding simple Styling to Footer*/

.footer {
    color: white;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/* styling for contact form page*/

.form {
    margin: 20px;
}


.form input {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 30px;
    width: 30%;
    padding:8px;
}

h2 {
    color:white;
    margin-top:25px;
    margin-left: 25px;
}

/* Resume page */

h3 {
    color: white;
    padding-left: 10px;
    padding-top:10px;
}

.resume-list {
    color:white;
    padding-left: 40px;
    padding-bottom: 20px;
}

.resume-anchor {
    color:blue;
    padding-left: 20px;

}

/*Nav link color change for active section*/

.active {
 color: pink;
}

/*Adding Media Screens for responsive design*/


/* cards split into two columns at 992px or smaller*/
@media screen and (max-width:992px) {
    .card {
        width: 50%;
    }

    /*attempt to stop about me card text from spilling on to the portfolio highlight*/
    /* .card p {
        text-align: right;
        font-size: 16px;
        
    } */

}

/* cards so are stacked on top of each other at 768px or smaller */
@media screen and (max-width:768px) {
    .card {
        width: 100%;
    }

    /*Change nav bar text color to make easier to read in smaller viewing*/
    a {
        color: rgb(255, 252, 50);

    }

    /*attempt to stop about me card text from spilling on to the portfolio highlight*/
    /* .card p {
        text-align: right;
        font-size: 16px;
    } */

}